<h3 class="text-center">My Blog Posts</h3>
<div class="text-center container-fluid">
    <button id="new-post" class="btn btn-primary"><a href="/dashboard/newpost">Add new post</a></button>
</div>

<div class="dashboard-posts">

{{#if posts.length}}

    {{#each posts as |post|}}
        <div class="post-overview">
            <img src="https://picsum.photos/350/200" alt="random placeholder image">
            <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
            <div class="post-details">
                <p>Date posted: {{post.date_created}}</p>
            </div>
        </div>
    {{/each}}

    {{else}}

        <p>No posts to show</p>

{{/if}}

</div>