<div class="login-forms row mx-auto">
  <div class="col-lg-6">
    <form class="login-form">
      <h3 class="page-title">Login</h3>
      <div class="mb-3">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-login">
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="signup-form">
      <h3 class="page-title">No Account Yet? Sign up!</h3>
      <div class="mb-3">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-signup">
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
      </div>
      <button type="submit" class="btn btn-success">Sign Me Up</button>
    </form>
  </div>

</div>

<script src="./js/login.js"></script>
