<form class="newpost">
    <div class="mb-3">
        <label for="title" class="form-label">Post Title</label>
        <input type="text" class="form-control" name="title" id="content"> 
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Post Content</label>
        <textarea name="content" class="form-control" id="content" rows="4" cols="50">
        </textarea> 
    </div>
    <button id="add-post" type="submit" class="btn btn-success">Add New Post</button>
</form>

<script src="./js/new-post.js"></script>