<div class="post-container">
    <img src="https://picsum.photos/600/300" alt="random placeholder image">
    <h3>{{post.title}}</h3>
    <p>Date posted: {{post.date_created}}</p>
    <p>{{post.content}}</p>
</div>