* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.2rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem 0;
}

header .logo {
    text-align: center;
    font-family: fantasy;
    letter-spacing: 1.2;
}

.nav-links {
    display: inline;
    padding: 1em;
    font-size: 1.5rem;
}

ul button {
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

/* HOMEPAGE */

.latest-posts {
    font-size: 2rem;
}

.post-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 2rem;
    width: 350px;
}

.post-overview h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5em 0 0.3em;
}

.post-details {
    text-align: center;
}

.homepage-posts, .dashboard-posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 1rem;
}

/* SINGLE POSTS */

.post-container {
    margin: 2rem 0;
    border-bottom: solid grey 1px;
}

.post-container h3 {
    margin: 2rem 0 0.5rem;
    text-align: center;
}

.post-details {
    text-align: center;
}

.post-content {
    margin: 2rem 0;
    text-align: justify;
}

.display-comments {
    width: 100%;
    margin: 1rem;
}

.single-comment {
    background-color: rgb(247, 244, 240);
    width: 100%;
    margin: 1rem;
    padding: 0.5em;
}

.comment-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px gray;
}

.comment-text {
    padding: 0.5em;
}